.section1{
    display: flex;
    justify-content: left;
    
}

.section2{
    text-align: left;
}

/* .section3{
    display: flex;
    justify-content: center;
    
} */
.userlogo{
    height: 100px;
    width: 100px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: left;
   
} 
.container2{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
   
}